/* 全体のフォントと背景色 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* ヘッダー */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a,
header nav ul li form {
    color: #fff;
    text-decoration: none;
}

/* メインコンテンツ */
main {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

/* フォーム */
.diary_edit form{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.diary_edit label {
    display: block;
    margin-bottom: 10px;
}

.diary_edit input[type="text"],
.diary_edit input[type="password"],
.diary_edit textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.diary_edit form button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.diary_edit button:hover {
    background: #555;
}

/* フッター */
footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

/* リストスタイル */
.diary_list ul {
    padding: 0;
    list-style: none;
}

.diary_list li {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.diary_list li a {
    text-decoration: none;
    color: #333;
}


/* カレンダーコントロール */
#calendar-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#calendar-controls button {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#calendar-controls button:hover {
    background-color: #555;
}

/* カレンダー全体のスタイル */
.calendar-row,
#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #ddd;
    padding: 10px;
}

/* 日付セルのスタイル */
#calendar div {
    background-color: white;
    padding: 20px 0;
    text-align: center;
}

/* 日記が存在する日付のセルの背景色 */
#calendar .diary-exists {
    background-color: #c4f4db; /* 例えば、淡い緑色 */
}

/* 日付セルにカーソルを合わせた時 */
#calendar div:not(.day-name):hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/* 曜日のスタイル（カーソルのスタイルはJavaScriptで制御） */
.day-name {
    cursor: default;
}
.sunday {
    color: red;
}
.saturday {
    color: blue;
}

/* フォームのスタイル調整 */
.diary_edit form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* テキストエリアのスタイル調整 */
.modern-text {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Helvetica', 'Arial', sans-serif; /* モダンなフォント体 */
    font-size: 16px; /* 読みやすいフォントサイズ */
}

/* ボタンのスタイル調整 */
.diary_edit form button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.diary_edit form button:hover {
    background: #0056b3;
}

.btn-download {
    padding: 10px 15px;
    background-color: #007bff; /* ブルー */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* リンクの下線を消す */
    transition: background-color 0.3s;
}

.btn-download:hover {
    background-color: #0056b3; /* 暗いブルー */
}
